body {
    height: 800px;
   max-width: 1920px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
}
#main {
    height: fit-content;
    width: fit-content;
    background-color: black;
    padding: 40px 20px;
    border: 2px solid rgb(248, 247, 247)
}
.contact {
    color: white;
    position: relative;
    left:115px;
    font-size: 45px;
}
.name, .email, .phone, .message {
    color: white;
    font-size:20px;
}
.btn {
    height: 40px;
    width: 77px;
    border-radius: 10px;
    border: none;
    padding: 12px 12px;
    position:relative;
    left:250px;
     top: 19px;
}
input {
    height: 60px;
    width:200px;
    border: none;
    margin:20px;
    font-size:23px;
    background-color: black;
    position:relative;
    bottom:22px;
    border-bottom: 2px solid white;
}  

::placeholder {
    color:white
    
}
.num {
    position:relative;
    left:44px
}
.txt {
    position:relative;
    left:24px;
}
input:focus {
    color:white;
    height: 60px;
    border: none;
    font-size:23px;
    animation-name:move;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    outline:none;
    border-bottom:2px solid white;
}
@keyframes move {
    from {
border-bottom: 2px solid lightskyblue;
width:0px;
    } 
    to{
border-bottom: 2px solid white;
width:px;
    }
}